.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 8px #eee;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    cursor: pointer;
   }
   .btn h4{
       margin: 0;
   }
.btn:hover {
    background-position: right center;
   }