.navbar-container{
    background-color: black;
}
.navbarContent{
    display: flex;
    width: 91%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}
.navbarContent h2{
    /* flex-basis: 90%; */
}
.navbar-btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 12px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    cursor: pointer;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .navbar-btn:hover {
    background-position: right center; 
  }