.singleDropDown{
    width: 31.4rem;
    margin: auto;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10rem;
    overflow-y: auto;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.displayOptions{
    display: flex;
}
.hideOptions{
    display: none;
}
.reduceHeight{
    height: auto;
}
.singleDropDown h4{
    margin: 0;
   padding: 10px;
}
.singleDropDown h4:hover{
   border-radius: 5px;
   background-color: #6b6b6b;
   transition: 0.5s;
   cursor: pointer;
}
.singleDropDown ::-webkit-scrollbar,
.skillsContainer::-webkit-scrollbar {
  width: 10px;
}

.singleDropDown ::-webkit-scrollbar-track,
.skillsContainer::-webkit-scrollbar-track {
  background-color: inherit;
}

.singleDropDown ::-webkit-scrollbar-thumb,
.singleDropDown::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}