.home-page .leftContainer .banner {
  position: relative;
}
.home-page .leftContainer .banner .background-Cover{
  width: 100%;
    background-color: rgba(28, 28, 28, 0.58);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
}
.home-page .leftContainer .banner img {
  width: 100%;
  height: 18rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
}
.home-page .leftContainer .banner .noImage {
  width: 100%;
  height: 18rem;
  background-color: rgba(16, 202, 0, 0.7);
  border-radius: 0.5rem;
}
.home-page .leftContainer .banner .profileDetails {
  position: absolute;
  top: 8rem;
  display: flex;
  align-items: center;
  left: 1rem;
  gap: 0.5rem;
  z-index: 100;
}
.home-page .leftContainer .banner .profileDetails .profileImg {
  width: 9rem;
  height: 9rem;
  /* border-radius: 50%; */
}
.home-page .leftContainer .banner .profileDetails .profileImg img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.home-page .leftContainer .banner .profileDetails .profileText .followers {
  display: flex;
  gap: 0.8rem;
}
