.home-page .leftContainer .banner {
  position: relative;
}
.home-page .leftContainer .banner img {
  width: 100%;
  height: 18rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
}
.home-page .leftContainer .banner .profileDetails {
  position: absolute;
  top: 8rem;
  display: flex;
  align-items: center;
  left: 1rem;
  gap: 0.5rem;
}
.home-page .leftContainer .banner .profileDetails .profileImg {
  width: 9rem;
  height: 9rem;
  /* border-radius: 50%; */
}
.home-page .leftContainer .banner .profileDetails .profileImg img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.home-page .leftContainer .banner .profileDetails .profileText .followers {
  display: flex;
  gap: 0.8rem;
}
