.createPostContainer {
    /* margin: 1rem ; */
    width: 35rem;
    flex-direction: column;
    align-items: unset;
    padding: 1rem;
    overflow-y: auto;
    /* height: 80rem; */
    position: fixed;
    z-index: 200;
    background-color: #111111;
    border-radius: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: 20rem;
}
.createPostContainer h1{
    margin: 0 1rem ;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}
.createPostContainer .postContent{
    border: none;
    outline: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #282828;
    padding: 0.5rem;
    color: aliceblue;
    min-height: 10rem;
    width: 97%;
}
.createPostContainer .createPostImg {
    margin-top: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 20rem;
}
.createPostContainer .createPostControl {
    display: flex;
    width: 30%;
    align-items: center;

}
.createPostContainer .createPostControl .postBtn{
    padding: 0.3rem;
}
.createPostContainer .createPostControl input{
    opacity: 0;
    position: absolute;
    width: 1.9rem;
    cursor: pointer;
}