.popUp {
  width: 65rem;
  height: 32rem;
  position: fixed;
  z-index: 200;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(20 20 20);
  border-radius: 5px;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.popUp .leftContainer {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popUp .leftContainer img {
  width: 30rem;
  height: 27rem;
  border-radius: 0.5rem;
}
.popUp .rightContainer {
  width: 35%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.5);
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0 0.5rem 0.5rem 0;
  overflow-y: auto;
}
.popUp .rightContainer .cancelBtn {
  position: absolute;
  right: 0.6rem;
  top: 0.3rem;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  transition: 0.5s;
}
.popUp .rightContainer .cancelBtn:hover {
  background-color: #4e4e4e;
}

.popUp .rightContainer .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.4rem 0;
}
.popUp .rightContainer .icons .comment {
  display: flex;
}
.popUp .rightContainer .userComment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin: 1rem 0;
}
.popUp .rightContainer .userComment input {
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: "Josefin Sans", cursive;
  color: aliceblue;
  background-color: #282828;
  outline: none;
  border: none;
  height: 2rem;
}
.popUp .rightContainer .userComment button {
  width: 4rem;
  height: 1.6rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", cursive;
}
.popUp .rightContainer .commentContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
