.popUp-container .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.popUp-container .form input{
    width: 30rem;
    height: 2.5rem;
    font-family: 'Josefin Sans', cursive;
    padding: 0px 11px;
    background-color: #282828;
    border: none;
    outline: none;
    color: aliceblue;
}
.popUp-container .form .countryList{
    width: 30.1rem;
    margin: auto;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.popUp-container .form .countryList h4{
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
.popUp-container .form .countryList h4:hover{
    border-radius: 5px;
    background-color: #6b6b6b;
    transition: 0.5s;
}

.popUp-container .form .showCountryList{
    height: 10.5rem;
    padding: 10px;
}
.popUp-container .form .hideCountryList{
    height: auto;
    padding: 10px;
}
.popUp-container .form .showStateList{
    height: 10.5rem;
    padding: 10px;
}
.popUp-container .form .hideStateList{
    height: auto;
    padding: 10px;
}


.popUp-container .form 
::-webkit-scrollbar , .skillsContainer::-webkit-scrollbar{
    width: 10px; 
}

.popUp-container .form 
::-webkit-scrollbar-track,.skillsContainer::-webkit-scrollbar-track{
    background-color: inherit;
}

.popUp-container .form 
::-webkit-scrollbar-thumb,.skillsContainer::-webkit-scrollbar-thumb{
    background: #4e4e4e;
    border-radius: 25px;
}

.genderContainer {
    width: 31.3rem;
}
.genderContainer .gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.genderContainer .gender:first-child{
    background-color: #282828;
}
 .dropDown{
    width: 30.1rem;
    margin: auto;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10rem;
    overflow-y: auto;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.genderContainer .displayGenderOptions{
    height: auto;
    padding: 10px;
}
.genderContainer .hideGenderOptions{
    height: 0;
    padding: 0px;
}
.dropDown h4{
     margin: 0;
    padding: 10px;
}
 .dropDown h4:hover{
    border-radius: 5px;
    background-color: #6b6b6b;
    transition: 0.5s;
    cursor: pointer;
}
.nextBtnUserDetails{
    width: 33rem;
}