.BoxDropDown{
    width: 100%;
    position: relative;
}
.BoxDropDown .BoxDropDownContainer{
    /* border: 1px solid red; */
    background-color: #2e2e2e;
    border-radius: 0.5rem 0.5rem 0 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 0.3rem;
    margin: 0;
}
.BoxDropDown .BoxDropDownContainer .BoxDropDownChild{
    border: 1px solid rgba(16, 202, 0, 0.3);
    border-radius: 0.3rem;
    padding: 0.1rem;
    color: aliceblue;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
}
.BoxDropDown .BoxDropDownContainer .BoxDropDownChild .boxDownInput{
    background-color: inherit;
    border: none;
    outline: none;
    color: aliceblue;
}
.BoxDropDown .dropDown{
    background: #2e2e2e;
    margin: 0;
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    overflow-y: auto;
    border-radius: 0 0 0.5rem 0.5rem;
    position: absolute;
    width: 96%;
    z-index: 100;
}
.BoxDropDown .dropDown .DropDownItem{
    transition: all 0.3s;
}
.BoxDropDown .dropDown .DropDownItem:hover{
    background-color: rgba(194, 187, 187, 0.5);
    cursor: pointer;
}