.findMainContainer {
  width: 60rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.findMainContainer .filterContainer {
  flex-basis: 30%;
  background-color: rgba(45, 45, 45, 0.5);
  border-radius: 0.5rem;
  padding: 0.4rem;
  padding-top: 2rem;
  height: 13.5rem;
}
.findMainContainer .filterContainer .head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.findMainContainer .filterContainer .filterInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  gap: 1rem;
}
.findMainContainer .filterContainer .clearCountryBtn {
  position: absolute;
  top: 8.4rem;
  right: 0.5rem;
  cursor: pointer;
}
.findMainContainer .userContainer {
  flex-basis: 70%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
